$positive: #ff7f50;
$background :#E9E2DA;
$outline : #FB8351;

$loading-font-size: 22px;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

body {
	background-color: $background;
}

.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
  }

  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}

h2 {
	text-align :center;
}

.front_image {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.ion-slide {
  text-align: center;
  padding-top: 200px;

  &.dark-bg {
    h3 {
      color: #fff;
    }
  }
}

.popover {
  height: auto;
}

.squareformat
{
	height:200px;
	width:80%;
	display:block;
	background-color: #ADD4D3;
	margin-left:auto;
	margin-right: auto;
	text-align: center;
	
}

.fakeAdvert{
	display:block;
	background-color: #ADD4D3;
	padding: 40px;
	text-align:center;
	font-weight: bold;
}

.item-button-left, .item-button-right {
  button {
    top: 16px !important;
  }
}

.map-container {
	border: 1px solid #fefefe;
}
