<template name="thanks">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Thanks</h1>
  {{/contentFor}}
  {{#ionContent class="padding"}}
  <div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=346992558913853";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<h2>Thanks for uploading your Binshi!</h2>
		
		<div class="padding">
		{{ > MyAdsLarge }}
		
		</div>
		<div class="padding">
			<button class="button button-positive button-block" >Share</button>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="I've just found some Binshi Check it out here!" data-size="large" data-count="none" data-hashtags="Binshi">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			
			
			<!-- https://www.facebook.com/dialog/feed?app_id=346992558913853&name=I've%20found%20Binshi&picture=http%3A%2F%2Fwhatever.com&caption=caption&description=dafdsasdf&link=Heresthelink.com&redirect_uri=http://localhost:3000&ref=binshi -->
		</div>
		
  {{/ionContent}}
</template>